{% extends "lab/base-provider.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}	

		<section role="main" class="content-body">
					<!-- <header class="page-header">
						<h2>Inbox</h2>
					
						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="index.html">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li><span>Mailbox</span></li>
								<li><span>Inbox</span></li>
							</ol>
					
							<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
						</div>
					</header> -->

					<!-- start: page -->
					<section class="content-with-menu mailbox">
						<div class="content-with-menu-container" data-mailbox data-mailbox-view="folder">
							<div class="inner-menu-toggle">
								<a href="#" class="inner-menu-expand" data-open="inner-menu">
									Show Menu <i class="fa fa-chevron-right"></i>
								</a>
							</div>
							
							<menu id="content-menu" class="inner-menu" role="menu">
								{% include 'messages/messages-menu.html' %}
							</menu>
							
						<!-- Inbox -->
							<div class="inner-body mailbox-folder">
								<!-- START: .mailbox-header -->
								<header class="mailbox-header">
									<div class="row">
										<div class="col-sm-6">
											<h1 class="mailbox-title text-weight-light m-none">
												<a id="mailboxToggleSidebar" class="sidebar-toggle-btn trigger-toggle-sidebar">
													<span class="line"></span>
													<span class="line"></span>
													<span class="line"></span>
													<span class="line line-angle1"></span>
													<span class="line line-angle2"></span>
												</a>
							
												Sent Items
											</h1>
										</div>
										<div class="col-sm-6">
											<div class="search">
												<!-- <div class="input-group input-search">
													<input type="text" class="form-control" name="q" id="q" placeholder="Search...">
													<span class="input-group-btn">
														<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
													</span>
												</div> -->
											</div>
										</div>
									</div>
								</header>
								<!-- END: .mailbox-header -->
							
								<!-- START: .mailbox-actions -->
								<div class="mailbox-actions">
									<ul class="list-unstyled m-none pt-lg pb-lg">
										
										<li class="ib">
											<a class="item-action fa fa-times text-danger" href="#" id="sent_trash"></a>
										</li>
									</ul>
								</div>
								<!-- END: .mailbox-actions -->
							

							
								<div id="mailbox-sentbox-list" class="mailbox-email-list">
									<div class="nano">
										<div class="nano-content">

										{% for message in message_list %}
											<ul id="" class="list-unstyled">
											

												<li class="unread">
													<a href="mailbox-email.html">
														<div class="col-sender">
															<div class="checkbox-custom checkbox-text-primary ib">
																<input type="checkbox" id="mail1" value="{{ message.id }}">
																<label for="mail1"></label>
															</div>
															<p class="m-none ib">{{ message.sender }}</p>
														</div>
														<div class="col-mail">
															<!-- <p class="m-none mail-content"> -->
																<!-- <span class="subject">Check out our new Porto Admin theme! &nbsp;–&nbsp;</span> -->
																<!-- <span class="mail-partial">We are proud to announce that our new theme Porto Admin is ready, wants to know more about it?</span> -->
															<!-- </p> -->
															<p class="m-none mail-date">{{ message.sent_at|date:"SHORT_DATE_FORMAT"}}</p>
														</div>
													</a>
												</li>
										{% endfor %}
												<!-- <li>
													<a href="mailbox-email.html">
														<i class="mail-label" style="border-color: #EA4C89"></i>
							
														<div class="col-sender">
															<div class="checkbox-custom checkbox-text-primary ib">
																<input type="checkbox" id="mail2">
																<label for="mail2"></label>
															</div>
															<p class="m-none ib">Okler Themes</p>
														</div>
														<div class="col-mail">
															<p class="m-none mail-content">
																<span class="subject">Porto Admin theme! &nbsp;–&nbsp;</span>
																<span class="mail-partial">Check it out.</span>
															</p>
															<i class="mail-attachment fa fa-paperclip"></i>
															<p class="m-none mail-date">3:35 pm</p>
														</div>
													</a>
												</li> -->
							
												
							
											</ul>
										</div>
									</div>
								</div>
							
							</div>


						<!-- Inbox -->


						</div>
					</section>
					<!-- end: page -->
		</section>



{% endblock %}