{% load staticfiles %}
{% load i18n %}
<!doctype html>
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>BiomarketX</title>
		<meta name="keywords" content="BiomarketX" />
		<meta name="description" content="BiomarketX">
		<meta name="author" content="BiomarketX">
		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<!-- Web Fonts  -->
		<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'admin/assets/vendor/font-awesome/css/font-awesome.css' %}" />
		<link rel="stylesheet" href="{% static 'admin/assets/vendor/magnific-popup/magnific-popup.css' %}" />
		<link rel="stylesheet" href="{% static 'admin/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css' %}" />
		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="{% static 'admin/assets/vendor/select2-bootstrap-theme/select2-bootstrap.css' %}" />
		<link rel="stylesheet" href="{% static 'admin/assets/vendor/jquery-datatables-bs3/assets/css/datatables.css' %}" />
		<link rel="stylesheet" href="{% static 'admin/assets/vendor/elusive-icons/css/elusive-icons.css' %}" />
		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="{% static 'admin/assets/vendor/jquery-ui/jquery-ui.css' %}" />
		<link rel="stylesheet" href="{% static 'admin/assets/vendor/jquery-ui/jquery-ui.theme.css' %}" />
		<link rel="stylesheet" href="{% static 'admin/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css' %}" />
		<link rel="stylesheet" href="{% static 'admin/assets/vendor/morris.js/morris.css' %}" />
		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static 'admin/assets/stylesheets/theme.css' %}" />
		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static 'admin/assets/stylesheets/skins/default.css' %}" />
		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static 'admin/assets/stylesheets/theme-custom.css' %}">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
		<link rel="stylesheet" href="{% static 'admin/css/ourcustom.css' %}">
		<!-- Head Libs -->
		<script src="{% static 'admin/assets/vendor/modernizr/modernizr.js' %}"></script>
		<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
		<script src="{% static 'js/jquery-1.12.0.min.js' %}"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js"></script>
		<script src="http://code.jquery.com/jquery-1.10.2.js"></script>	
		<script src="{% static 'js/countries.js' %}"></script>
		  <script src="http://www.alohaeditor.org/download/aloha.min.js"></script>
		  <link rel="stylesheet" href="{% static 'vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css' %}" />
		<style type="text/css">
		.errorlist
			{color:#DB5353;

			margin-left: 3px;
			list-style: none;
			}
		</style>
	<body>
		<section class="body">

			<!-- start: header -->
			<header class="header">
				<div class="logo-container">
					<a href="../" class="logo">
						<img src="{% static 'admin/assets/images/logo.png' %}" height="35" alt="Porto Admin" />
					</a>
					<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
						<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
					</div>
				</div>
			
				<!-- start: search & user box -->
				<div class="header-right">
			
					<form action="/search/" method="POST" class="search nav-form">
					{% csrf_token %}
													
						<div class="ui-widget">
							<label for="tags"></label>
							<input id="tags-lab" placeholder="Search Services" name="search_word"  style="256px;">
						</div>
					</form>
			
					<span class="separator"></span>
			
					<ul class="notifications">
						
						<li>
							<a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
								<i class="fa fa-envelope"></i>
								<span class="badge">4</span>
							</a>
			
							<div class="dropdown-menu notification-menu">
								<div class="notification-title">
									<span class="pull-right label label-default">230</span>
									Messages
								</div>
			
								<div class="content">
									<ul>
										<li>
											<a href="#" class="clearfix">
												<figure class="image">
													<img src="{% static 'admin/assets/images/!sample-user.jpg' %}" alt="Joseph Doe Junior" class="img-circle" />
												</figure>
												<span class="title">Joseph Doe</span>
												<span class="message">Lorem ipsum dolor sit.</span>
											</a>
										</li>
										<li>
											<a href="#" class="clearfix">
												<figure class="image">
													<img src="{% static 'admin/assets/images/!sample-user.jpg' %}" alt="Joseph Junior" class="img-circle" />
												</figure>
												<span class="title">Joseph Junior</span>
												<span class="message truncate">Truncated message. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lacinia orci. Proin vestibulum eget risus non luctus. Nunc cursus lacinia lacinia. Nulla molestie malesuada est ac tincidunt. Quisque eget convallis diam, nec venenatis risus. Vestibulum blandit faucibus est et malesuada. Sed interdum cursus dui nec venenatis. Pellentesque non nisi lobortis, rutrum eros ut, convallis nisi. Sed tellus turpis, dignissim sit amet tristique quis, pretium id est. Sed aliquam diam diam, sit amet faucibus tellus ultricies eu. Aliquam lacinia nibh a metus bibendum, eu commodo eros commodo. Sed commodo molestie elit, a molestie lacus porttitor id. Donec facilisis varius sapien, ac fringilla velit porttitor et. Nam tincidunt gravida dui, sed pharetra odio pharetra nec. Duis consectetur venenatis pharetra. Vestibulum egestas nisi quis elementum elementum.</span>
											</a>
										</li>
										<li>
											<a href="#" class="clearfix">
												<figure class="image">
													<img src="{% static 'admin/assets/images/!sample-user.jpg' %}" alt="Joe Junior" class="img-circle" />
												</figure>
												<span class="title">Joe Junior</span>
												<span class="message">Lorem ipsum dolor sit.</span>
											</a>
										</li>
										<li>
											<a href="#" class="clearfix">
												<figure class="image">
													<img src="{% static 'admin/assets/images/!sample-user.jpg' %}" alt="Joseph Junior" class="img-circle" />
												</figure>
												<span class="title">Joseph Junior</span>
												<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lacinia orci. Proin vestibulum eget risus non luctus. Nunc cursus lacinia lacinia. Nulla molestie malesuada est ac tincidunt. Quisque eget convallis diam.</span>
											</a>
										</li>
									</ul>
			
									<hr />
			
									<div class="text-right">
										<a href="#" class="view-more">View All</a>
									</div>
								</div>
							</div>
						</li>

					</ul>
			
					<span class="separator"></span>
			
					<div id="userbox" class="userbox">
						<a href="#" data-toggle="dropdown">
							<figure class="profile-picture">
								<!-- <img src="{% static 'admin/assets/images/!logged-user.jpg' %}" alt="Joseph Doe" class="img-circle" data-lock-picture="assets/images/!logged-user.jpg" /> -->
							</figure>
							<div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
								<!-- <span class="name">John Doe Junior</span> -->
								<span class="role">{{user.email}}</span>
							</div>
			
							<i class="fa custom-caret"></i>
						</a>
			
						<div class="dropdown-menu">
							<ul class="list-unstyled">
								<li class="divider"></li>
								
								<li>
									<a role="menuitem" tabindex="-1" href="/logout/"><i class="fa fa-power-off"></i> Logout</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end: search & user box -->
				</header>
			<!-- end: header -->

			<!-- sub nav start -->
			<div class="row">
				<div class="sub-hdr">
					<nav class="navbar navbar-default">
					  	<div class="container-fluid">
						    <!-- Brand and toggle get grouped for better mobile display -->
						    <div class="navbar-header">
						      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							        <span class="sr-only">Toggle navigation</span>
							        <span class="icon-bar"></span>
							        <span class="icon-bar"></span>
							        <span class="icon-bar"></span>
						      	</button>
						    </div>

						    <!-- Collect the nav links, forms, and other content for toggling -->
						    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						      	<ul class="nav navbar-nav">
							        <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
							        <li><a href="/about/">About</a></li>
							        <li><a href="/projects/">Projects</a></li>
							        <li><a href="/services/Bioimaging/">Services</a></li>
							        <li><a href="/consulting/">Consulting</a></li>
							        <li><a href="https://news.biomarketx.com">News</a></li>
							        <li><a href="/support/">Support</a></li>
						      	</ul>
						      
						      <ul class="nav navbar-nav navbar-right">
						        <!-- <li><a href="#">Q&amp;A</a></li> -->
						      <!--   <li><a href="#">News</a></li>
						         -->
						      </ul>
						    </div><!-- /.navbar-collapse -->
					  	</div><!-- /.container-fluid -->
					</nav>
				</div>
			</div>
			<!-- sub nav end -->

			<div class="inner-wrapper dsh-sid-sld">
				<!-- start: sidebar -->
				<aside id="sidebar-left" class="sidebar-left dsh-sidepnl">

				
					<div class="sidebar-header">
						<div class="sidebar-title">
							Provider
						</div>
						<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
							<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
						</div>
					</div>
				
					<div class="nano">
						<div class="nano-content">
							<nav id="menu" class="nav-main" role="navigation">
								<ul class="nav nav-main">
									<li class="nav-active">
										<a href="/provider/">
											<i class="fa fa-home" aria-hidden="true"></i>
											<span>Dashboard</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="pull-right label label-primary"></span>
											<i class="fa fa-envelope" aria-hidden="true"></i>
											<span>Messages</span>
										</a>
									</li>
									
									
									<li>
										<a href="/provider/quotes/">
											<i class="fa fa-list-alt" aria-hidden="true"></i>
											<span>Quotes</span>
										</a>
										
									</li>
									<li>
										<a href="#">
											<i class="fa fa-table" aria-hidden="true"></i>
											<span>Orders</span>
										</a>
										
									</li>
									<li>
										<a href="#">
											<i class="fa fa-tasks" aria-hidden="true"></i>
											<span>Reports</span>
										</a>
										
									</li>

									<li>
										<a href="/provider/profile/">
											<i class="fa fa-copy" aria-hidden="true"></i>
											<span>Profile</span>
										</a>
										
									</li>
									
				
								</ul>
							</nav>
				
							<hr class="separator" />				
							<hr class="separator" />				
						</div>				
					</div>				
				</aside>
				<!-- end: sidebar -->
				
				{% block content %}
				{% endblock %}
			
			</div>

			<aside id="sidebar-right" class="sidebar-right">
				<div class="nano">
					<div class="nano-content">
						<a href="#" class="mobile-close visible-xs">
							Collapse <i class="fa fa-chevron-right"></i>
						</a>
			
						<div class="sidebar-right-wrapper">
			
							<div class="sidebar-widget widget-calendar">
								<h6>Upcoming Tasks</h6>
								<div data-plugin-datepicker data-plugin-skin="dark" ></div>
			
								<ul>
									<li>
										<time datetime="2014-04-19T00:00+00:00">04/19/2014</time>
										<span>Company Meeting</span>
									</li>
								</ul>
							</div>
			
							<div class="sidebar-widget widget-friends">
								<h6>Friends</h6>
								<ul>
									<li class="status-online">
										<figure class="profile-picture">
											<img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-online">
										<figure class="profile-picture">
											<img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-offline">
										<figure class="profile-picture">
											<img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-offline">
										<figure class="profile-picture">
											<img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
								</ul>
							</div>
			
						</div>
					</div>
				</div>
			</aside>
		</section>

		<!-- Vendor -->
		<script src="{% static 'admin/assets/vendor/jquery/jquery.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/bootstrap/js/bootstrap.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/nanoscroller/nanoscroller.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/magnific-popup/jquery.magnific-popup.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/jquery-placeholder/jquery-placeholder.js' %}"></script>
		
		<!-- Specific Page Vendor -->
		<script src="{% static 'admin/assets/vendor/jquery-ui/jquery-ui.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/jqueryui-touch-punch/jqueryui-touch-punch.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/jquery-appear/jquery-appear.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/flot/jquery.flot.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/flot.tooltip/flot.tooltip.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/flot/jquery.flot.pie.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/flot/jquery.flot.categories.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/flot/jquery.flot.resize.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/jquery-sparkline/jquery-sparkline.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/raphael/raphael.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/morris.js/morris.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/gauge/gauge.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/snap.svg/snap.svg.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/liquid-meter/liquid.meter.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/jqvmap/jquery.vmap.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/jqvmap/data/jquery.vmap.sampledata.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/jqvmap/maps/jquery.vmap.world.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.africa.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.asia.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.australia.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.europe.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js' %}"></script>

		<script src="{% static 'admin/assets/javascripts/ui-elements/examples.lightbox.js' %}"></script>
		<!-- Theme Base, Components and Settings -->
		<script src="{% static 'admin/assets/javascripts/theme.js' %}"></script>
		
		<!-- Theme Custom -->
		<script src="{% static 'admin/assets/javascripts/theme.custom.js' %}"></script>
		
		<!-- Theme Initialization Files -->
		<script src="{% static 'admin/assets/javascripts/theme.init.js' %}"></script>

	<!-- Vendor Pages -->
		<script src="{% static 'admin/assets/javascripts/tables/examples.datatables.editable.js' %}"></script>

		<script src="{% static 'admin/assets/vendor/select2/js/select2.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/jquery-datatables/media/js/jquery.dataTables.js' %}"></script>
		<script src="{% static 'admin/assets/vendor/jquery-datatables-bs3/assets/js/datatables.js' %}"></script>

		<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="stylesheet"></link>
		
		<script src="{% static 'js/jquery-1.12.0.min.js' %}"></script>
		<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>

		<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>

		<script src="{% static 'js/jquery.validate.min.js' %}"></script>
	
		<script src="{% static 'js/bootstrap.min.js' %}"></script>


		<script type="text/javascript">
		$(document).ready( function() {
			//alert("hi")

		$('#confirm-delete').on('show.bs.modal', function(e) 
        {
        	//alert("dsgahdg")
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            $('.debug-url').html('Delete URL: <strong>' + $(this).find('.btn-ok').attr('href') + '</strong>');
        });

        $('#confirm-delete1').on('show.bs.modal', function(e) 
        {
        	//alert("dsgahdg")
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            $('.debug-url').html('Delete URL: <strong>' + $(this).find('.btn-ok').attr('href') + '</strong>');
        });

        $('#confirm-delete2').on('show.bs.modal', function(e) 
        {
        	//alert("dsgahdg")
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            $('.debug-url').html('Delete URL: <strong>' + $(this).find('.btn-ok').attr('href') + '</strong>');
        });


});

</script>

<script type="text/javascript">
	$(document).ready(function() {
setTimeout(popup, 3000);
function popup() {
$("#logindiv").css("display", "block");
}
$("#login #cancel").click(function() {
$(this).parent().parent().hide();
});
$("#onclick").click(function() {
$("#contactdiv").css("display", "block");
});
$("#contact #cancel").click(function() {
$(this).parent().parent().hide();
});
// Contact form popup send-button click event.
$("#send").click(function() {
var name = $("#name").val();
var email = $("#email").val();
var contact = $("#contactno").val();
var message = $("#message").val();
if (name == "" || email == "" || contactno == "" || message == ""){
alert("Please Fill All Fields");
}else{
if (validateEmail(email)) {
$("#contactdiv").css("display", "none");
}else {
alert('Invalid Email Address');
}
function validateEmail(email) {
var filter = /^[\w\-\.\+]+\@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$/;
if (filter.test(email)) {
return true;
}else {
return false;
}
}
}
});
// Login form popup login-button click event.
$("#loginbtn").click(function() {
var name = $("#username").val();
var password = $("#password").val();
if (username == "" || password == ""){
alert("Username or Password was Wrong");
}else{
$("#logindiv").css("display", "none");
}
});
});
</script>

<script type="text/javascript">
$(document).ready( function() {	
	$("#fade").click( function() {
    // this will fire when you click viewa
	$('#light').hide()
	$('#fade').hide()
    });

$("#add-service-fade").click( function() {
    // this will fire when you click viewa
	$('#add-service').hide()
	$('#add-service-fade').hide()
    });

$("#edit-service-fade").click( function() {
    // this will fire when you click viewa
	$('.edit-service-close').hide()
	$('#edit-service-fade').hide()
    });


var quote_filter
$(".quote-status").change(function()
    {
        var quote_filter=$(this).val();

		console.log(quote_filter)

		$.ajax({
		   type: "GET",
		   data: quote_filter,
		   url: "/quote-filter/",
		   success: function(data){
		   	/*$('#result').html(msg);*/
		   	labservices_list=data;
			$(".quote_data").html(data)
			console.log(data)
			/*console.log(labservices_list)		   	*/
		   	/*test_result = msg;*/
		   	// return labservices_list_1
		   	
		     /*alert("success")*/
		     /*$('.answer').html(msg);*/
		   }

		  });
    });




});
</script>


<script type="text/javascript">

$(document).ready(function() {
    $('#example').DataTable();

    $(".dataTables_length").find("select").css("margin-top","18px")    
    $(".dataTables_length").find("select").css("height","34px")
    $(".dataTables_length").find("select").css("padding-right","11px")
    $(".dataTables_length").find("select").css("padding-left","19px")
    $(".dataTables_length").find("select").css("padding-bottom","6px")
    $(".dataTables_length").find("select").css("padding-top","5px")
   
    $(".dataTables_filter").find("input").addClass("form-control").attr("placeholder", "Search Here ...")
    $(".dataTables_filter").find("input").addClass("form-control").css( "width","170px")
	$(".dataTables_filter").find("input").addClass("form-control").css( "margin-right","172px")

$(function() {
    $( "#datepicker" ).datepicker();
  });

function clicked() {
    return confirm('clicked');
}


});
</script>



<style type="text/css">
.quts-tble{width: 100%;}
.quts-tble thead tr th{width: 20%;}
.qot-dtls-rgt h5{margin-bottom: 10px;}
.qot-dtls-rgt textarea{width: 100%;height: 80px;resize:none;padding: 10px;}
.quts-msg-tble{ border:1px solid;}
</style>



<style type="text/css">


.form-lable{font-weight: bold;}

input::-webkit-input-placeholder { font-size: 12px; color: #555; }
input::-moz-placeholder { font-size: 12px; color: #555; }
input:-ms-input-placeholder { font-size: 12px; color: #555; }
input:-moz-placeholder { font-size: 12px; color: #555; }


.errorlist
{color:#DB5353;

margin-left: 3px;
list-style: none;
}
.label-height{margin-top: 20px;}
.form-background{background-color: white}
.form-message{font-size:12px;margin-bottom: 8px;}
.lab-border{border-right: 1px solid #DDD;}
.save-changes{margin-top: 20px;margin-right: -103px;}
.light-box-close{float:right}
.error-div-style{border-color: #DB5353}
.input-font{font-size:14px}
.background-page{background-color:rgb(245,245,245)}

.tabs{width: 250px}
.bs-example{
	font-family: sans-serif;
	position: relative;
	margin: 100px;
}
.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 24px;
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	width: 396px;
}
.typeahead {
	background-color: #FFFFFF;
}



.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 24px;
	line-height: 24px;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}

.black_overlay{
		display: none;
		position: absolute;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 200%;
		background-color: black;
		z-index:1001;
		-moz-opacity: 0.8;
		opacity:.80;
		filter: alpha(opacity=80);
	}


.white_content_labservice {
		display: none;
		position: absolute;
		top: 25%;
		
		padding: 16px;
		border: 16px solid;
		background-color: white;
		z-index:1002;
		overflow: auto;
		}


.white_content {
		display: none;
		position: absolute;
		top: 25%;
		left: 25%;
		width: 50%;
		
		padding: 16px;
		border: 16px solid;
		background-color: white;
		z-index:1002;
		overflow: auto;
		}

.ui-datepicker-calendar {
    display: none;
    }

		</style>


<script type="text/javascript">
	
	$(document).ready( function() {

		if ($(".message-wrapper")){
		} else {
    		console.log("not available")
		}
		$("#onclick").click(function() {
		$("#contactdiv").css("display", "block");
		});


		$("#frmSignIn").validate({
    
    submitHandler: function (form) {
        
        $("#myModal").modal('show');
		
		$('#SubForm').click(function () {
            form.submit();
       });
    }
});



	});


</script>
	</body>
</html>