{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<div class="background-page">
        <div class="container">
          <div class="row">
            <div class="col-md-12">

              <div class="featured-boxes">
                <div class="row">
                  <div class="" style="width:600px;margin:0px auto;height:500px">
                    <div class="featured-box featured-box-primary align-left mt-xlg">
                      <div class="box-content">
                        <p>Please provide the email address you used to sign up with Bio MarketX and instructions to reset your password will be emailed to you.</p>
                        <br>
                        <form action="{% url 'account_reset_password' %}" id="frmSignIn" method="post">
                        {% csrf_token %}
                          <div class="row">
                            <div class="form-group">
                              <div class="col-md-12">
                                <label class="form-lable">Email</label>
                                <input type="text" value="" class="form-control input-lg" name="email">
                                {{form.email.errors}}
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                            
                            </div>
                            <div class="col-md-6">
                              <input type="submit" value="Get my password" class="btn btn-primary pull-right mb-xl" data-loading-text="Loading...">
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
                
{%endblock%}