{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% block content %}
{% load staticfiles %}
{% load i18n %}
<div class="background-page">
 <div class="container">

          <div class="row">
            <div class="col-md-12">

              <div class="featured-boxes">
                <div class="row">
                  <div class="" style="width:600px;margin:0px auto;height:500px">
                    <div class="featured-box featured-box-primary align-left mt-xlg">
                      <div class="box-content">
				    {% if user.is_authenticated %}
				    {% include "account/snippets/already_logged_in.html" %}
				    {% endif %}
				    <div><div></div>
				    
				    {% blocktrans %}<b>Instructions to reset your password have been emailed to you. Please check your email.{% endblocktrans %}</b></p>
            </div></div>
                      </div>
                    </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
</div>

{% endblock %}
