{% extends "./base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}

			<div role="main" class="main">



				<div class="container lb-dtls">

					<div class="row">
						
						<!-- result start -->
						<div class="col-md-9">
						<!-- lab detail block start -->
						<div class="lb-dtl-blk">
						<div class="row">
							<div class="col-md-2">
								<div class="lb-pic"><img src="{% static 'img/comp-big-1.jpg' %}" title="" alt="" /></div>
							</div>
							<div class="col-md-10">
								<h3 class="lb-title">Parseq Lab s.r.o.</h3>
								<h6 class="lb-title-sub">Roztoky, Czech Republic</h6>
							</div>
						</div>	
						<div class="clr">&nbsp;</div>
						<div class="row">
						<div class="col-md-12">
							<p>Parseq Lab was founded in 2012 for the development of unique molecular genetics applications for personalized medicine quality improvement. The developed products are intended to help translate target sequencing and genome sequencing data into clear and useful information for doctors and medical geneticists.</p>
							<p>The proliferation of individual genomic data has produced an increase demand for the development of new methods of genetic analysis and solutions to simplify the adaptation of the obtained information for healthcare. </p>
							<p>Parseq Lab specializes in diagnostic assays for the analysis of hereditary diseases in humans, and comprehensive databases of the most significant genetic variants (mutations and polymorphisms resulting in severe malfunctions formation). The company also develops bioinformatic tools and software for sequencing data interpretation and further application for diagnostic purposes. </p>
						</div>

						</div>				
						</div>
						<!-- lab detail block end -->

						<!-- lab detail tabs start -->
						<div class="lb-dtls-tbs">
							<div>

							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active">
							<a href="#services" aria-controls="Services" role="tab" data-toggle="tab">Services</a></li>
							<li role="presentation"><a href="#reviews" aria-controls="Reviews" role="tab" data-toggle="tab">Reviews</a></li>
							<li role="presentation"><a href="#endorse" aria-controls="Endorse" role="tab" data-toggle="tab">Endorsements</a></li>
							</ul>

							<!-- Tab panes -->
							<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="services">
							<!-- block one start -->
							<div class="lb-rsl-blk  lb-tab-rslt">

						<div class="col-md-12">
						<div class="lb-src-rslt">

							<div class="portfolio-info stor-frnt">
								<div class="row">
									<div class="col-md-12 center">
										<h4 class="per-hor-pris">$20.00 USD per Hour</h4>
									</div>
								</div>
							</div>

							<h4 class="rst-title">Bioinformatics</h4>
							<ul class="lb-tb-dtl">
								<li>High throughput massively parallel sequencing (MPS) data analysis;</li>
								<li>Software tools development and data processing algorithms design according to customer needs;</li>
								<li>depending on project requirements appropriate specialists will be engaged including biologist, bioinformatician, data analysis specialist, software developer, etc.
								<br />
								<a href="#" title="">http://service.parseq.pro/</a>
								</li>
							</ul>

							<ul class="portfolio-details lb-cnt-tags">
								<li>
									<ul class="list list-inline list-icons">
										<li>Illumina Genome Analyzer II Sequencer</li>
										<li>Illumina Genome Analyzer IIx Sequencer</li>
										<li>Illumina HiSeq 2000</li>
										<li>Illumina HiSeq 2500 sequencing system</li>
										<li>Illumina HiSeq 4000</li>
										<li>Illumina HiSeq X Ten</li>
										<li>Illumina MiSeq sequencing system</li>
										<li>Illumina NextSeq 500 sequencing system</li>
										<li>Ion Personal Genome Machine (PGMTM)</li>
										<li>Roche GS-FLX 454 Titanium</li>
									</ul>
								</li>
							</ul>
							<div class="row">
							<div class="col-md-12 center">
							<a class="btn btn-primary btn-icon req-quto pull-right" href="#">Request Quote</a> 
							</div>
							</div>
							<div class="clr">&nbsp;</div>
						</div>
						</div>
					</div>
					<!-- block one end -->
					<!-- block two start -->
							<div class="lb-rsl-blk  lb-tab-rslt">

						<div class="col-md-12">
						<div class="lb-src-rslt">

							<div class="portfolio-info stor-frnt">
								<div class="row">
									<div class="col-md-12 center">
										<h4 class="per-hor-pris">$20.00 USD per Hour</h4>
									</div>
								</div>
							</div>

							<h4 class="rst-title">Bioinformatics</h4>
							<ul class="lb-tb-dtl">
								<li>High throughput massively parallel sequencing (MPS) data analysis;</li>
								<li>Software tools development and data processing algorithms design according to customer needs;</li>
								<li>depending on project requirements appropriate specialists will be engaged including biologist, bioinformatician, data analysis specialist, software developer, etc.
								<br />
								<a href="#" title="">http://service.parseq.pro/</a>
								</li>
							</ul>

							<ul class="portfolio-details lb-cnt-tags">
								<li>
									<ul class="list list-inline list-icons">
										<li>Illumina Genome Analyzer II Sequencer</li>
										<li>Illumina Genome Analyzer IIx Sequencer</li>
										<li>Illumina HiSeq 2000</li>
										<li>Illumina HiSeq 2500 sequencing system</li>
										<li>Illumina HiSeq 4000</li>
										<li>Illumina HiSeq X Ten</li>
										<li>Illumina MiSeq sequencing system</li>
										<li>Illumina NextSeq 500 sequencing system</li>
										<li>Ion Personal Genome Machine (PGMTM)</li>
										<li>Roche GS-FLX 454 Titanium</li>
									</ul>
								</li>
							</ul>
							<div class="row">
							<div class="col-md-12 center">
							<a class="btn btn-primary btn-icon req-quto pull-right" href="#">Request Quote</a> 
							</div>
							</div>
							<div class="clr">&nbsp;</div>
						</div>
						</div>
					</div>
					<!-- block two end -->
					<!-- block three start -->
							<div class="lb-rsl-blk  lb-tab-rslt">

						<div class="col-md-12">
						<div class="lb-src-rslt">

							<div class="portfolio-info stor-frnt">
								<div class="row">
									<div class="col-md-12 center">
										<h4 class="per-hor-pris">$20.00 USD per Hour</h4>
									</div>
								</div>
							</div>

							<h4 class="rst-title">Bioinformatics</h4>
							<ul class="lb-tb-dtl">
								<li>High throughput massively parallel sequencing (MPS) data analysis;</li>
								<li>Software tools development and data processing algorithms design according to customer needs;</li>
								<li>depending on project requirements appropriate specialists will be engaged including biologist, bioinformatician, data analysis specialist, software developer, etc.
								<br />
								<a href="#" title="">http://service.parseq.pro/</a>
								</li>
							</ul>

							<ul class="portfolio-details lb-cnt-tags">
								<li>
									<ul class="list list-inline list-icons">
										<li>Illumina Genome Analyzer II Sequencer</li>
										<li>Illumina Genome Analyzer IIx Sequencer</li>
										<li>Illumina HiSeq 2000</li>
										<li>Illumina HiSeq 2500 sequencing system</li>
										<li>Illumina HiSeq 4000</li>
										<li>Illumina HiSeq X Ten</li>
										<li>Illumina MiSeq sequencing system</li>
										<li>Illumina NextSeq 500 sequencing system</li>
										<li>Ion Personal Genome Machine (PGMTM)</li>
										<li>Roche GS-FLX 454 Titanium</li>
									</ul>
								</li>
							</ul>
							<div class="row">
							<div class="col-md-12 center">
							<a class="btn btn-primary btn-icon req-quto pull-right" href="#">Request Quote</a> 
							</div>
							</div>
							<div class="clr">&nbsp;</div>
						</div>
						</div>
					</div>
					<!-- block three end -->

							</div>
							<div role="tabpanel" class="tab-pane" id="reviews">
							<p>Parseq Lab s.r.o. has not received any reviews.</p>
							</div>
							<div role="tabpanel" class="tab-pane" id="endorse"> 
							<p>Be the first to endorse Parseq Lab s.r.o.</p>
							<div class="portfolio-info stor-frnt">
								<div class="row">
									<div class="col-md-12 center">
										<a class="btn btn-primary btn-icon" href="#">Endorse this lab</a> 
									</div>
								</div>
							</div> 
							 </div>
							</div>

							</div>
						</div>
						<!-- lab detail tabs end -->
				
						</div>
						<!-- result end -->
						<!-- filters start -->
						<div class="col-md-3">
							<div class="lst-fltrs">

								<div class="fltrs-blk">
								<h4>Tags: </h4>
									<ul class="portfolio-details lb-cnt-tags">
										<li>
											<ul class="list list-inline list-icons">
												<li>Commerical</li>
												<li>ISO 13485</li>
												<li>ISO 9001</li>
											</ul>
										</li>
									</ul>
								</div>

								<div class="fltrs-blk">
								<h4 class="pull-left">Lab Photos</h4>
								<a href="#" class="pull-right lb-phots">See Lab Photos</a>
								<div class="clr">
									<img src="{% static 'img/comp-big-1.jpg'%}" title="" alt="" />
								</div>
								</div>

								<div class="fltrs-blk">
								<h4>Lab Members: </h4>
								<div class="row">
									<div class="col-md-3"><img src="{% static 'img/comp-big-1.jpg'%}" title="" alt="" /></div>
									<div class="col-md-9">
										<a href="#" title="">Roman Shutov</a>
										<br />
										<span>Grant Manager</span>
									</div>
								</div>
								</div>

							</div>
						</div>
						<!-- filters end -->
					</div>

				</div>

			</div>


{% endblock %}

