{% extends "./base.html" %}

{% load i18n %}

{% load widget_tweaks %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="background-page">
 <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="featured-boxes">
                <div class="row">
                  <div class="" style="width:600px;margin:0px auto;height:500px">
                      <div style="margin-top: 25px;">
                        <h4>Sign In to BioMarketX</h4>
                        <p><a href="{% url 'bioapp:signup_researcher' %}" style="float: right; margin-top: -23px;">Sign Up for an account?</a></p>
                        </div>                    

                    <div class="featured-box featured-box-primary align-left mt-xlg">
                      <div class="box-content">
                        
                        <form action="{% url 'bioapp:login' %}" id="frmSignIn" method="post">
                        
                        {{msg}}
                        {% csrf_token %}
                          <p class="errorlist">{{error_message}}</p>
                          <div class="row">
                            <div class="form-group">
                              <div class="col-md-12">
                                <label class="form-lable ">Email</label>
                                {% if form.email.errors %}
                                
                                {{form.email|add_class:"error-div-style"}}
                                {{form.email.errors}} 
                                {%else%}
                               
                               {{form.email}}
                                {%endif%}

                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="form-group">
                              <div class="col-md-12">
                                
                                <label class="form-lable">Password</label>
                                {% if form.password.errors %}
                                {{form.password|add_class:"error-div-style"}}
                                {{form.password.errors}}

                                {%else%}
                               
                               {{form.password}}
                                {%endif%}

                              </div>

                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <span class="remember-box checkbox">
                               <label for="rememberme">

                            <a href="{% url 'account_reset_password' %}"><b>Forgot Password?</b></a>

                                </label>
 
                                                       </div>
                            <div class="col-md-6">
                              <input type="submit" value="Sign In" class="btn btn-primary pull-right mb-xl" data-loading-text="Loading...">
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
</div>
{% endblock %}
