						<div class="col-md-3 lab-border">
							<div class="lab-profl">

								<div class="fltrs-blk">
								<div class="row">
							</div>

								</div>
								<div class="fltrs-blk">
								<h4 class="pull-left">Basics </h4>
								<a href="{% url 'bioapp:edit_researcher_profile' %}" class="pull-right lb-phots">Edit</a>
								</div>

								<div class="clr"></div>
								<div class="fltrs-blk">
								<h4 class="pull-left">Password</h4>
								<a href="{% url 'bioapp:edit_researcher_password' %}" class="pull-right lb-phots">Edit</a>
								</div>
								

								<div class="clr"></div>
								<div class="fltrs-blk">
								<h4 class="pull-left">Employment</h4>
								<a href="{% url 'bioapp:researcher_employment' %}" class="pull-right lb-phots">Manage</a>
								</div>

								<div class="clr"></div>
								<div class="fltrs-blk">
								<h4 class="pull-left">Education</h4>
								<a href="{% url 'bioapp:researcher_education' %}" class="pull-right lb-phots">Manage</a>
								</div>


								<div class="clr"></div>
								<div class="fltrs-blk">
								<h4 class="pull-left">Publications</h4>
								<a href="{% url 'bioapp:add_publications' %}" class="pull-right lb-phots">Manage</a>
								</div>

								

							</div>
						</div>
						