{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
<div style="background-color:rgb(245,245,245)">
 <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="featured-boxes">
                <div class="row">
                  <div class="" style="width:600px;margin:0px auto;">
                        <div style="margin-top: 25px;">
                        <h5>Create an account</h5>
                        <p><a href="{% url 'bioapp:login' %}" style="float: right; margin-top: -23px;">Already have an account?</a></p>
                        </div>
                    <div class="featured-box featured-box-primary align-left mt-xlg">
                      <div class="box-content">
                        <form action="{% url 'bioapp:signup_researcher' %}" id="frmSignIn" method="post">
                        {% csrf_token %}
                        
                          <p class="errorlist">{{error_message}}</p>
                          <input type=hidden name="check_user" value="researcher">
                          <div class="row">
                            <div class="form-group">
                              <div class="col-md-12">
                                <label class="form-lable">First Name</label>
                                
                                {% if form.first_name.errors %}
                                {{form.first_name|add_class:"error-div-style"}}
                                {{form.first_name.errors}}
                                {%else%}
                                
                                <p class="form-message">Must be 3 characters or longer.</p>
                                {{form.first_name}}
                                
                                {%endif%}


                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="form-group">
                              <div class="col-md-12">
                                <label class="form-lable">Last Name</label>
                                
                                {% if form.last_name.errors %}
                                
                                {{form.last_name|add_class:"error-div-style"}}
                                {{form.last_name.errors}}
                                {%else%}
                                
                                <p class="form-message">Must be 3 characters or longer.</p>
                                {{form.last_name}}
                                
                                {%endif%}
                             </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="form-group">
                              <div class="col-md-12">
                                 <label class="form-lable">Email</label>
                                {% if form.email.errors %}
                                
                                {{form.email|add_class:"error-div-style"}}
                                {{form.email.errors}}
                                {%else%}
                               
                                {{form.email}}
                                
                                {%endif%}
                                </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="form-group">
                              <div class="col-md-12">
                                <label class="form-lable ">Phone</label>
                                {% if form.phone_number.errors %}
                                
                                {{form.phone_number|add_class:"error-div-style"}}
                                {{form.phone_number.errors}}
                                {%else%}
                                
                                {{form.phone_number}}
                                {%endif%}
                             </div>
                            </div>
                            </div>

                            

                          <div class="row">
                            <div class="form-group">
                              <div class="col-md-12">
                                
                                <label class="form-lable">Password</label>
                               
                                {% if form.password.errors %}
                                
                                {{form.password|add_class:"error-div-style"}}
                                {{form.password.errors}}
                                {%else%}
                                 <p class="form-message">Must be 6 characters or longer.</p>
                                {{form.password}}
                                
                                {%endif%}
                             </div>
                            </div>
                            </div>

                          <div class="row">
                            <div class="form-group">
                              <div class="col-md-12">
                                
                               <label class="form-lable">Company</label>
                               
                               {% if form.companey.errors %}
                                
                                {{form.companey|add_class:"error-div-style"}}
                                {{form.companey.errors}}
                                {%else%}
                               <p class="form-message">Must be 3 characters or longer.</p>
                                {{form.companey}}
                                {%endif%}
 
                              </div>
                            </div>
                            </div>


<!--                           <div class="row">
                            <div class="form-group">
                              <div class="col-md-12">
                                <label>Logo</label>
                                {{form.logo}}
                                {{form.logo.errors}}
                              </div>
                            </div>
                            </div>
 -->
                          <div class="row">
                            
                            <div class="col-md-12">
                              <input type="submit" value="Create Account" class="btn btn-primary pull-right mb-xl" data-loading-text="Loading...">
                            </div>
                          </div>
                        </form>
                        </div>
                        </form>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
</div>
{%endblock%}

