{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load aloha_editor %}

{% block content %}

<div role="main" class="main">

<!-- B2B SignUp page start -->
    <div class="container">
        <div class="container btobSignin">
        	
            <div class="row">
                <!-- <div class="col-md-8 col-md-offset-2">                	
                    <div class="thankYou text-center">                 	

                        <h2><strong>Thank You For Registering !</strong></h2>
                        <p>This User Successfully Created..<br /> 
                       </p>           
                    </div>                   
                </div> -->
            </div>
        </div>
    </div>

    <section class="section section-default" style="height:350px;">
                    <div class="container">
                        <div class="srvcs-blk">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="thankYou text-center" style="    margin-top: 105px;">
                                <h3><strong>Thank You For Sending Quote !!!!!</strong></h3>
                               <!-- <p>Thanks</p>  -->
                               </div>
                                
                            </div>
                            <!-- <div class="col-md-12 col-sm-12">
                                <div data-appear-animation-delay="600" data-appear-animation="fadeInUp" class="counter appear-animation fadeInUp appear-animation-visible" style="animation-delay: 600ms;">
                                <h1>Our Mission</h1>
                                <div class="clr">&nbsp;</div>   
                                <div class="col-md-7"><p>BioMarketX provides scientific collaborative capabilities aimed at empowering and advancing drug discovery and development.  BioMarketX addresses the growing demand for new partnerships due to the critical mass of specialized expertise and resources, by harnessing the true interdisciplinary nature that can not only solve highly complex challenges of drug discovery and development, but also ensure that scientific breakthroughs are exploited to benefit patients and society.</p>
                                </div>  
                                <div class="col-md-5"><img src="{% static 'new_design/img/our-mission.jpg' %}" class="thumbnail" style="margin-top:15px;" /></div>      
                                <div class="clr">&nbsp;</div>
                                <div class="col-md-12"><p>BioMarketX also facilitates identification of potential partnerships to initiate strategic relationships to drive clinical research forward.  In addition, through News, BioMarketX provides the latest discoveries and technologies to keep you well-informed.</p>   
                                </div>  
                                </div>                      
                            </div> -->
                        </div>
                    </div>
                </section>
<!-- B2B SignUp page end -->


</div>




{% endblock %}