.customRight{
	margin-right: 20px;
}

/* 21-01-2016 start */
.dsh-sidepnl .sidebar-title{background: #f8f8f8!important;}
.dsh-sidepnl .sidebar-toggle{background: #f8f8f8!important;}
.dsh-sidepnl .nano{background: #f8f8f8!important;box-shadow: -5px 0 0 #f8f8f8 inset!important;}
.dsh-sidepnl .nav-main > li > a{color: #777!important;}
.dsh-sidepnl .nav-main > li > a:hover, .dsh-sidepnl .nav-main > li > a:focus{background: #e7e7e7!important;
box-shadow: -5px 0 0 #f8f8f8 inset!important;color: #555!important;}
.sub-hdr{top: 58px;position: fixed;width: 100%;left: 0;right: 0;z-index: 9;}
.dsh-sidepnl{top: 111px!important;}
img{max-width:100%;}
/* 21-01-2016 end */

/* 22-01-2016 start */
.sub-hdr .navbar-nav li a{color: #0099e6;}
/* 22-01-2016 end */

.degree_details{
width:100%;margin:0px auto;height: 100px;margin-top: 20px;background:#f5f5f5;border:1px solid #ccc;padding:20px;border-radius:3px;
	
}
